/* "Tamming" Box Model With Reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

h1, .title {
  font-weight: bold;
}

header .container, .title {
  color: white;
  background-color: cadetblue;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.company {
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}

.company img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

.navigation li {
  display: inline-block;
  padding: 1rem;
}

.mobile-nav {
  display: none;
}

.main-banner {
  display: flex;
  justify-content: center;
}

.banner-content {
  display: flex;
  justify-content: flex-end;
  width: 55.4rem;
}

.headline {
  position: relative;
  top: 10rem;
  width: 34rem;
  background-color: white;
}

.headline h1 {
  padding: 1.5rem 5rem;
  font-size: 2rem;
  line-height: 1.2;
}


.features {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 5rem;
  margin: 0 3rem;
}

#paper img {
  width: 3.5rem;
}

.feature img {
  width: 5rem;
}


.all-content {
  display: flex;
}

.content {
  width: 35%;
  margin: 3rem 5%;
}

.title {
  width: 10rem;
  padding: 0.5rem 20% 0.5rem 1.25rem;
}

.content p {
  margin-top: 1rem;
}


footer {
  margin-top: 5rem;
}

footer .container {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}
